@import "tailwindcss";

:root {
  --background: #0b241c;
  --foreground: #a8b5b0;

  --color-primary-bg: #0b241c;
  --color-secondary-bg: #143028;
  --color-input-bg: #081a14;
  
  --color-mint: #57cc99;
  --color-sage: #80ed99;
  --color-border-custom: #1d4034;
}

@theme {
  --color-brand-bg: var(--color-primary-bg);
  --color-brand-card: var(--color-secondary-bg);
  --color-brand-input: var(--color-input-bg);
  --color-brand-mint: var(--color-mint);
  --color-brand-sage: var(--color-sage);
  --color-brand-border: var(--color-border-custom);
  --radius-card: 40px;
}

body {
  background-color: var(--color-primary-bg);
  color: var(--foreground);
  min-height: 100vh;
}
